*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

section {
    background-color: rgb(12,46,78);
    padding-top: 287px;
    padding-bottom: 83px;
}
.wrapper {
    color: white;
    display: flex;
}

.left {
    width: 540px;
    height: 490px;
    background-color: red;
}
.right {
    width: 540px;
    height: 490px;
    background-color: blue;
}


@media (max-width: 1440px) {
    section {
        padding-top: 260px;
        padding-bottom: 100px;
    }
}
@media (max-width: 1024px) {
    section {
        padding-top: 230px;
        padding-bottom: 120px;
    }
}