@font-face {
    font-family: tahoma;
    src: url(../fonts/tahoma.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
:root {
    --iconWidth: 75px;
    --iconHeigh: 80px;
    --dockHeight: 40px;
    /* xp colors */
    --xp-blue: #0f87f6;
    --xp-blue-dark: #1663d2;
    --start-green: #81C046;
    --sidebar-bg: #6f8bde;
    --sidebar-inner-bg: #d7def8;
    --sidebar-item-color: #2e549e;
    --start-menu-rightSide: #d3e5fb;
    --explorer-options-block: #efeedc;

    /* z indexes */
    --loading: 20000;
    --load-screen: 10000;
    --error: 5000;
    --fullScreen: 1000;
    --explorer: 800;
}
body {
    overflow: hidden;
    font-family: tahoma;
}

.desktop {
    height: 100vh;
    background-image: url(../img/xp-wallpaper.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: url('../img/cursor.cur'), auto;
}
/* icon */
.explorer .icon {
    color: #000;
}
.icon {
    width: var(--iconWidth);
    position: absolute;
    color: #fff;
    transition: .3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.selection-box {
    position: absolute;
    border: 1px dashed #237fdb;
    background: rgba(51, 153, 255, 0.2);
    pointer-events: none;
}
.icon::after {
    content: '';
    position: absolute;
    inset: 0;
}
.icon.active::after{
    background-color: rgba(0, 0, 255, .5);
}
.icon img {
    width: 100%;
    display: block;
    pointer-events: none;
}
.icon:hover {
    opacity: .8;
}
.icon h4 {
    text-align: center;
    pointer-events: none;
    font-weight: normal;
    white-space: nowrap
}
.my-computer {
    top: 30px;
    left: 20px;
}
.content .folder {
    position: relative;
}

.recycle-bin {
    /* background-image: url(../img/recycle-empty.webp); */
    bottom: calc(var(--dockHeight) + 40px);
    right: 20px;
}
.explorer {
    width: 60vw;
    height: 60vh;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 40px 80px 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "header header header header header header header"
        "option option option option option option option"
        "aside aside content content content content content"
        "aside aside content content content content content"
        "aside aside content content content content content"
        "aside aside content content content content content"
        "aside aside content content content content content"; 
    border-radius: 10px;
    box-shadow: 3px 7px 20px rgb(0 0 0 / 0.5);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    border: 2px solid var(--xp-blue);
    z-index: var(--explorer);
}
.options {
    grid-area: option;
    display: flex;
    flex-direction: column;
    background-color: var( --explorer-options-block);
}
.options .option:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.options .option:first-child .folder-options-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}
.options .option:nth-child(2) {
}
.options .option:last-child {
}
.options .option:first-child .win-logo-wrapper img {
    width: 30px;
    height: 30px;
}
.explorer.hide {
    display: none;
}
.explorer.maximized {
    width: 100vw !important;
    height: calc(100vh - var(--dockHeight) - 1px) !important;
    z-index: var(--fullScreen);
    animation: maximizeWindow 0.1s ease-out;
    inset: 0 !important;
    bottom: var(--dockHeight);
    transform: translate(0, 0);
}
.explorer.minimized {
    display: none;
}
.explorer.my-computer .icon {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: unset;
    gap: 5px;
    width: fit-content;
}
.explorer.my-computer .inner-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-block: 20px;
}
.explorer.my-computer .icon img {
    width: var(--iconWidth);
}
.explorer header {
    grid-area: header;
    background: linear-gradient(180deg, var(--xp-blue-dark) 40%, var(--xp-blue) 90%, #ffffff80 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-inline: 10px;
    cursor: grab;
}
.explorer header .logo {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
}
.explorer header .logo img{
    display: block;
    width: 20px;
}
.explorer header .cta{
    display: flex;
    align-self: center;
    gap: 5px;
}
.explorer header .cta img {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.explorer .sidebar {
    grid-area: aside;
    background-color: var(--sidebar-bg);
    padding: 20px;
    border: 1px solid #fff;
    border-top: none;
    border-right: 1px solid #ccc;
}
.explorer .sidebar ul{
    color: var(--sidebar-item-color);
    text-transform: capitalize;
    background-color: var(--sidebar-inner-bg);
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.explorer .sidebar ul li a{
    display: flex;
    gap: 5px;
    align-items: center;
}
.sidebar ul li a:hover {
    text-decoration: underline;
}
.explorer .sidebar ul li:not(:last-child) {
    margin-bottom: 10px;
}
.sidebar ul li img {
    display: block;
    width: 20px;
}
.explorer .content {
    position: relative;
    grid-area: content;
    background-color: #fff;
    /* display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 20px; */
    padding: 0 10px;
}

.content h5 {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: normal;
    border-bottom: 1px solid transparent; /* Needed to apply border-image */
    border-image: linear-gradient(to right, var(--sidebar-bg) 10%, transparent 60%) 1;
}

/* dock */
.desktop .dock {
    height: var(--dockHeight);
    width: 100%;
    background-color: var(--xp-blue);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 5px;
    background: linear-gradient(180deg, var(--xp-blue-dark) 40%, var(--xp-blue) 100%);

}
.dock .start {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    background-color: var(--start-green);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}
.dock .start .start-menu.hide {
    display: none;
}
.dock .start .start-menu {
    position: absolute;
    left: 0;
    bottom: calc(var(--dockHeight) + 1px);
    width: 500px;
    height: 600px;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 70px 1fr 1fr 1fr 1fr 60px; 
    gap: 0px 0px; 
    grid-template-areas: 
      "head head"
      "content content"
      "content content"
      "content content"
      "content content"
      "body body"; 
      background-color: var(--xp-blue);
      border: 1px solid var(--xp-blue);
      border-radius: 10px;
    cursor: default;
}
.start-menu .head { 
    background: linear-gradient(180deg, var(--xp-blue-dark) 40%, var(--xp-blue) 80%, #ffffff80 100%);
    grid-area: head; 
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.start-menu .head .xp-user-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}
.start-menu .head .xp-user-wrapper img{
    width: 60px;
    height: 60px;
    display: block;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 5px;
}
.start-menu .head .xp-user-wrapper span{
    color: white;
    font-size: 22px;
    text-transform: capitalize;
}
.start-menu .content { 
    grid-area: content; 
    display: flex;
}
.start-menu .content .left,
.start-menu .content .right {
    width: 50%;
}
.start-menu .content .left{ 
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
}
.left .all-programs {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid transparent;
    border-image: linear-gradient(to right, transparent 0%, var(--sidebar-bg) 30%, transparent 100%) 1;
}
.left .all-programs:hover {
    background-color: rgba(0,0,0, .1);
}
.left .all-programs h6 {
    font-weight: normal;
    font-size: 18px;
}
.left .all-programs img {
    width: 20px;
}
.start-menu .content .left .programs {
    padding: 10px;
}
.start-menu .programs .program {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.start-menu .programs h6 {
    font-weight: normal;
    font-size: 14px;
}
.start-menu .programs .program:hover {
    background-color: rgba(0,0,0, .1);
}
.start-menu .programs .program img {
    width: 30px;
}
.start-menu .content .right{ 
    background-color: var(--start-menu-rightSide);
}
.start-menu .footer { 
    background: linear-gradient(0deg, var(--xp-blue-dark) 40%, var(--xp-blue) 80%, #ffffff80 100%);
    grid-area: body; 
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
.start-menu .footer .pc-cta-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}
.start-menu .footer .pc-cta-wrapper button {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    border: none;
}
.start-menu .footer .pc-cta-wrapper button img {
    width: 40px;
    height: 40px;
    display: block;
}
.start-menu .footer .pc-cta-wrapper button span {
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
}
.dock .start h5{
    color: #fff;
    text-transform: capitalize;
    font-size: 22px;
    font-family: sans-serif;
    pointer-events: none;
}
.dock .start img {
    width: 30px;
    height: 30px;
    display: block;
    pointer-events: none;

}
.dock .running-apps {
    display: flex;
    gap: 5px;
    align-items: center;
}
.running-apps .running-app-wrapper {
    width: 140px;
    height: var(--dockHeight);
    display: flex;
    gap: 5px;
    align-items: center;
    padding-left: 5px;
    background-color: var(--xp-blue);
    filter: brightness(1.2);
    border-radius: 4px;
}
.running-apps .running-app-wrapper:hover {
    filter: brightness(1.3);
}
.running-apps .running-app-wrapper img {
    width: 20px;
}
.running-apps .running-app-wrapper h4 {
    font-weight: normal;
    color: #fff;
}
.dock .time {
    color: #fff;
    margin-right: 10px;
    margin-left: auto;
}
.dock .time time {
    pointer-events: none;
}

/* context menu */
.context-menu {
    position: absolute;
    background: #ececec;
    border: 1px solid #aaa;
    display: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.context-menu ul {
    list-style: none;
    margin: 0;
    padding: 5px 0;
}
.context-menu ul li {
    padding: 8px 20px;
}
.context-menu ul li:hover {
    background: #b5d5ff;
}

.welcome-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/windows-startup.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: var(--load-screen);
    opacity: 0;
}
.loading-xp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/xp-loading.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: var(--loading);
    cursor: none;
}

.error-wrapper.active {
    display: block;
}
.error-wrapper {
    display: none;
    position: fixed;
    inset: 0;
    z-index: var(--error);
    margin: auto;
    width: 550px;
    height: 200px;
    background-color: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 1px solid black;
}
.error-header {
    display: flex;
    justify-content: flex-end;
    height: 40px;
    padding-inline: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: linear-gradient(180deg, var(--xp-blue-dark) 40%, var(--xp-blue) 90%, #ffffff80 100%);
}
.error-header .error-cta{
    background-color: transparent;
    border: none;
}
.error-header .error-cta img{
    display: block;
    width: 30px;
    height: 30px;
}
.error-wrapper .error-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}
.error-wrapper .error-body .message {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.error-wrapper .error-body .error-ok button {
    width: 80px;
    padding: 5px 10px;
    border: 2px solid black;
}
.error-wrapper .error-body .message img {
    width: calc(var(--iconWidth) / 2);
    display: block;
}

.error-wrapper .error-body .message p {
    text-align: center;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}


@keyframes closeWindow {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.5);
        opacity: 0;
    }
}

@keyframes maximizeWindow {
    0% {
        transform: scale(1) translate(-50%, -50%);
        width: 60vw;
        height: 50vh;
    }
    100% {
        transform: scale(1) translate(0, 0);
        width: 100vw;
        height: 100vh;
    }
}

@keyframes refresh {
    0% {
        display: none;
    }
    100% {
        display: flex;
    }
}