* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --iconWidth: 75px;
    --iconHeigh: 80px;
    --dockHeight: 40px;
    /* xp colors */
    --xp-blue: #0f87f6;
    --start-green: #81C046;
}
body {
    overflow: hidden;
}

.desktop {
    height: 100vh;
    background-image: url(../img/xp-wallpaper.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
/* icon */
.icon {
    width: var(--iconWidth);
    height: var(--iconHeigh);
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    position: absolute;
    cursor: pointer;
    color: #fff;
    transition: .3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.icon img {
    width: 100%;
    display: block;
    pointer-events: none;
}
.icon:hover {
    opacity: .8;
}
.icon h4 {
    /* margin-top: var(--iconHeigh); */
    width: calc(var(--iconWidth) + 20px);
    text-align: center;
    pointer-events: none;
}
.my-computer {
    /* background-image: url(../img/my-computer.png); */
    top: 30px;
    left: 20px;
}


.recycle-bin {
    /* background-image: url(../img/recycle-empty.webp); */
    bottom: calc(var(--dockHeight) + 40px);
    right: 20px;
}
.explorer {
    width: 60vw;
    height: 50vh;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 40px 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "header header header header header header header"
        "aside aside content content content content content"
        "aside aside content content content content content"
        "aside aside content content content content content"
        "aside aside content content content content content"
        "aside aside content content content content content"; 
    border-radius: 10px;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}
.explorer header {
    grid-area: header;
    background-color: var(--xp-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-inline: 10px;
}
.explorer header .logo {
    color: #fff;
}
.explorer header .cta{
    display: flex;
    align-self: center;
    gap: 5px;
}
.explorer header .cta img {
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.explorer aside {
    grid-area: aside;
    background-color: #b73f3f;
}
.explorer .content {
    grid-area: content;
    background-color: #b49595;
}


/* dock */
.desktop .dock {
    height: var(--dockHeight);
    width: 100%;
    background-color: var(--xp-blue);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dock .start {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    background-color: var(--start-green);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}
.dock .start h5{
    color: #fff;
    text-transform: capitalize;
    font-size: 22px;
    font-family: sans-serif;
    pointer-events: none;
}
.dock .start img {
    width: 30px;
    height: 30px;
    display: block;
    pointer-events: none;

}
.dock .time {
    color: #fff;
    margin-right: 10px;
    /* cursor: pointer; */
}
.dock .time time {
    pointer-events: none;
}

/* context menu */
.context-menu {
    position: absolute;
    background: #ececec;
    border: 1px solid #aaa;
    display: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.context-menu ul {
    list-style: none;
    margin: 0;
    padding: 5px 0;
}
.context-menu ul li {
    padding: 8px 20px;
    cursor: pointer;
}
.context-menu ul li:hover {
    background: #b5d5ff;
}




@keyframes closeWindow {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.5);
        opacity: 0;
    }
}