@font-face {
    font-family: inter;
    src: url(../fonts/Inter_18pt-Regular.ttf);
}

@font-face {
    font-family: helvetica-Neue;
    src: url(../fonts/HelveticaNeueMedium.ttf);
}

:root {
    /* colors */
    --c-white: #fff;
    --c-black: #000;
    --c-mobile-nav-items: #3f4b66;
    --c-accent: #635bff;
    --c-button-accent: #0a2540;
    /* z indexes */
    --mobile-nav: 1000;
}


#gradient-canvas {
    width: 100%;
    --gradient-color-1: #7250ad;
    --gradient-color-2: #b02626;
    --gradient-color-3: #7038ff;
    --gradient-color-4: #ffba27;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0% 100%);
}

html {
    font-family: inter;
}

.header-nav-wrapper {
    padding-block: 12px;
    color: var(--c-white);

    & .logo {
        font-size: 24px;
        font-weight: bold;
        margin-right: 20px;
        transition-duration: .3s;

        &:hover {
            opacity: .8;
        }
    }

    & .main-nav {
        & ul {

            & li {

                & a {
                    padding: 10px 20px;
                    transition-duration: .3s;
                    gap: 5px;
                    z-index: 10;
                    & .arrow {

                        display: flex;
                        padding: 7px 1px 5px;

                        & svg {
                            transition-duration: .3s;

                            &:first-child {
                                translate: 2px;
                                /* need to correct smooth effect */
                            }

                            &:last-child {
                                translate: -2px;
                                /* need to correct smooth effect */

                            }
                        }

                    }

                    & .submenu {
                        height: 200px;
                        width: 400px;
                        top: 50px;
                        left: 0;
                        background-color: var(--c-white);
                        opacity: 0;
                        visibility: hidden;
                        transition-delay: .2s;
                        transition-duration: .3s;
                        transition-timing-function: ease;
                        border-radius: 16px;
                    }

                    &:hover {
                        opacity: .8;

                        & .arrow {
                            & svg {
                                &:first-child {
                                    transform: rotate(-90deg);

                                }

                                &:last-child {
                                    transform: rotate(90deg);

                                }
                            }

                        }

                        & .submenu {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }

        @media (max-width: 992px) {
            display: none;
        }
    }

    & .cta-wrapper {
        gap: 16px;

        & button {
            background-color: transparent;
            padding-block: 3px;
            gap: 5px;
            transition-duration: .3s;

            &:last-child {
                background-color: var(--c-white);
                color: var(--c-black);
                padding-inline: 12px;
                border-radius: 1rem;

                /* & svg {
                    fill: var(--c-black);
                    transition-duration: .3s;

                    & g {

                        & .HoverArrow__linePath {
                            opacity: 0;
                            stroke: black;
                        }
                    }
                } */

                &:hover {
                    opacity: .8;
                }
            }

            /* & svg {
                fill: var(--c-white);
                transition-duration: .3s;

                & g {

                    & .HoverArrow__linePath {
                        opacity: 0;
                        stroke: white;
                    }
                }
            } */

            &:hover {
                & svg {
                    /* transform: translateX(5px);

                    & g {
                        & path {
                            &:first-child {
                                opacity: 1;
                            }

                            &:last-child {
                                transform: translateX(3px);
                            }
                        }
                    } */
                }


            }
        }

        @media (max-width: 992px) {
            display: none;
        }
    }

    & .mobile-nav-menu {
        inset: 0;
        background-color: var(--c-white);
        z-index: var(--mobile-nav);
        color: var(--c-mobile-nav-items);
        opacity: 0;
        visibility: hidden;
        transition-duration: .3s;

        &.active {
            opacity: 1;
            visibility: visible;
        }

        & .mobile-nav-header {
            padding: 16px;

            & a {
                color: var(--c-accent);
                font-weight: bold;
                font-size: 24px;
            }

            & .close {}
        }

        & .mobile-nav-body {
            flex-grow: 1;
            padding-inline: 16px;
        }

        & .mobile-nav-footer {
            height: 64px;
        }
    }

    & .burger-icon {
        display: none;
        background-color: rgba(255, 255, 255, .2);
        border-radius: 16px;
        flex-direction: column;
        justify-content: center;
        gap: 2px;
        padding: 11px 16px;
        transition-duration: .3s;

        & .line {
            width: 16px;
            height: 2px;
            background-color: var(--c-white);
        }

        &:hover {
            opacity: .8;
        }

        @media (max-width: 992px) {
            display: flex;
        }
    }

}


/* hero section */
.hero {
    margin-top: 70px;
    & .left-side {
        max-width: 608px;
        line-height: 1.2;
        padding-right: 30px;
        gap: clamp(1.5rem, 3.28vh, 2rem);
        & h1 {
            font-size: clamp(30px, 7vw, 94px);
            font-family: helvetica-Neue;
            letter-spacing: 1px;
            opacity: .8;
            padding-right: 30px; 
        }
        & p {
            padding-right: 30px;
        }
        & input {
            background-color: #f6f9fb;
            border-radius: 32px;
            border: 1px solid rgba(171, 181, 197, .30196078431372547);
            padding: 9.5px 138px 9.5px 18px;
        }
        & .start-now {
            background-color: var(--c-button-accent);
            color: var(--c-white);
            right: 6px;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 16px;
            padding: 3px 12px;
            line-height: 24px;
        }
    }

    & .right-side {

        & .mobile {
            margin-top: 60px;
            width: 270px;
            height: 536px;
            background-color: red;
            border-radius: 16px;
        }

        & .chart {
            position: absolute;
            left: 50%;
            top: 0;
            width: 975px;
            height: 570px;
            background-color: blue;
            border-radius: 32px;
            z-index: -1;
        }
    }
}
.partners-wrapper {
    padding-block: 120px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    row-gap: 60px;
    @media (max-width: 670px) {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

button {
    background-color: transparent;
    padding-block: 3px;
    gap: 5px;
    transition-duration: .3s;
    & svg {
        /* fill: var(--c-white); */
        transition-duration: .3s;
    
        & g {
    
            & .HoverArrow__linePath {
                opacity: 0;
                /* stroke: white; */
            }
        }
    }
    
    &:hover {
        & svg {
            transform: translateX(5px);

            & g {
                & path {
                    &:first-child {
                        opacity: 1;
                    }

                    &:last-child {
                        transform: translateX(3px);
                    }
                }
            }
        }
    }
}