.container {
    max-width: 1080px;
    width: 95%;
    margin: 0 auto;
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}


/* display */
.d-inline-block {
    display: inline-block;
}
.d-flex {
    display: flex;
}


/* flex */
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.f-direction-column {
    flex-direction: column;
}

/* texts */
.capitalize {
    text-transform: capitalize;
}


/* margins */
.m-r-auto {
    margin-right: auto;
}
.m-l-auto {
    margin-left: auto;
}

/* paddings */




/* inherit */
.inherit-color {
    color: inherit;
}

/* pointer */
.pointer {
    cursor: pointer;
}


/* overflows */
.overflow-x-h {
    overflow-x: hidden;
}