<section class="timeline">
  <div class="section-header">
    <h2 class="section-title">ვაქცინაციის თაიმლაინი</h2>
    <nav class="tab-navigation">
        <ul>
            <li>
                <button (click)="onTabClick('child',$event)" id="child"  [class.active]="activeTab === 'child'" >ბავშვი</button>
            </li>
            <li>
                <button (click)="onTabClick('female',$event)" id="female"  [class.active]="activeTab === 'female'" >ქალი</button>
            </li>
            <li>
                <button (click)="onTabClick('male',$event)" id="male"  [class.active]="activeTab === 'male'" >კაცი</button>
            </li>
        </ul>
    </nav>
</div>
    <div class="timeline-wrapper">
     <div class="line">
        <article *ngFor="let item of timelineItems; let i = index" class="card-wrapper" [ngClass]="{ reversed: i % 2 === 1 }">
          <div class="text-content-wrapper">
              <h2 class="card-title">{{item.title}}</h2>
              <div class="date-and-description">
                  <div class="date-wrapper">
                      <div class="date">{{item.date}}</div>
                      <span>წელი</span>
                  </div>
                  <div class="description-wrapper">
                      <p class="description">{{item.description}}</p>
                      <a href="#" class="read-more">ვრცლად</a>
                  </div>
              </div>
          </div>
          <div class="type-img-wrapper">
              <img src="{{item.selectionImage}}" alt="vaccine image">
              <div class="vertical-line"></div>
          </div>
          <div class="virus-image-wrapper">
              <img src="{{item.virusImage}}" alt="virus immage" class="virus-image">
          </div>
      </article>
     </div>
    </div>
</section>